<header class='intro'>
    <h1 class='name'>Your Dashboard</h1>
</header>
     <div class='new-post'>
         <form id="new-post-form">
             <label for="new-post-title">Title:</label>
             <input class="form-input" type="text" id="new-post-title"/>
             <label for="new-post-body">Content:</label>
             <textarea class="form-input" name="new-post-body" placeholder="a new post begins..."></textarea>

             <button type="submit" class="new-post-btn">Add New Post</button>
         </form>
     </div>
     <script src="/scripts/addpost.js"></script>