{{!-- {{#if post.Comments}} --}}
<section class='comment-container'>
    <div class='comment-render'>
        {{!-- {{#each post.Comments}} --}}
        {{!-- {{body}} --}}
        comment.body
        <div class='commenter'>
        {{!-- {{user.name}} --}}
        Username, 
        {{!-- {{format_date createdAt}} --}}
        date
        </div>
        
        {{!-- {{/each}} --}}
    </div>
{{!-- {{/if}} --}}
        
    <form class='comment-form'>
        <input type="hidden" name="post-id" value="{{post.id}}" />
        <label for="new-comment-body" class="new-comment-form">New Comment:</label>
        <textarea class='comment-text' name="new-comment-body"
                 placeholder="Add comment here..."></textarea>
            <button class='comment-btn' type='submit'>Add Comment</button>
    </form>
             
</section>
<script src="/scripts/comment.js"></script>