<header class='intro'>
    <h1 class='name'>Your Dashboard</h1>
</header>
<div class="dbBtn-container">
    <button class="newBtn-db" type="submit" ><a href="/createpost">New Post</a></button>
    <button class="editBtn-db" type="submit"><a href="/updatepost">Edit Post</a></button> 
</div>
