<header class='intro'>
    <h1 class='name'>Your Dashboard</h1>
</header>
<script>
    let testEl = document.createElement('div'); 
    testEl.textContent = "can I add a script to a partial it works?"; 
    document.body.appendChild(testEl); 
</script>