<header class='hero'>

     </header>
    
     <nav class='nav-menu'>
         <ul class='controls'>
            <button class='home' type='submit'><li class='home'><a href='/'>Home</a></li></button>
            <button class='dashboard' type='submit'><li class='dashboard'><a href='/dashboard'>Dashboard</a></li></button>
            <button class='login'type='submit'><li class='login'><a href='/login'>Login</a></li></button>
            <button class='logout' type='submit'><li class='logout'><a href='/'>Logout</a></li></button>
        </ul>
     </nav>

     <header class='intro'>
         <h1 class='name'>Tech Talk Blog</h1>
     </header>
     