<div class='user-posts-list'>
    {{!-- {{#each posts}} --}}
    <a class='list-item flex-row justify-space-between' href='/dashboard/edit/{{id}}'>
    {{!-- saved the class for css / not sure I need this href to do this --}}
    <span>{{title}}title</span>
    {{!-- <span>{{format_date createdAt}}</span> --}}
    {{!-- <span>getDateHelper</span> --}}
    </a>
    {{!-- {{/each}} --}}
</div>