<header class='intro'>
    <h1 class='name'>Your Dashboard</h1>
</header>
     <div class='new-post'>
     <button type='submit'>Add New Post</button>
     <button type='submit'>Edit Post</button>
     </div>