<section class='comment-container'>
             <form class='comment-form'>
                 <textarea class='comment-text' 
                 placeholder="Add comment here..."></textarea>
             <button class='comment-btn' type='submit'>Add Comment</button>
             </form>
             <div class='comment-render'>
                 Comments will render here once the code is written to do so
                 The title/header needs to be 'clickable' in order to render the entire post
                 <div class='commenter'>
                     username/date goes here
                 </div>
             </div>
         </section>