<header class='intro'>
    <h1 class='name'>Your Dashboard</h1>
</header>
<div class='create-new-post-container'>
    <p class='create'>Create New Post</p>
    <form class='create-new-form'>
        <h3 class='new-title'>Title</h3>
        <textarea class='new-post-title' 
        placeholder='add title here...'></textarea>
        <h3 class='new-content'>Content</h3>
        <textarea class='new-post-content'
        placeholder='add new content...'></textarea>
        <button class='addnew' type='submit'>Add New Post</button>
    </form>
</div>