
    

     <main class='thread-container'>
         <header class='thread-header'>
             <a href=#><h3 class='title'>{{post.title}}post.title</h3></a>
             <span class='by-and-on'>Posted by: {{post.User.username}} post.username</span><span class="by-and-on"> 
                 {{format_date post.createdAt}}getDateHelper
                 </span>
         </header>
         <section class='thread-body'>{{post.body}}post.body</section>
       </main>
     

    
      
