
    

     <main class='thread-container'>
         <header class='thread-header'>
             <a href=#><h3 class='title'>Post.Title</h3></a>
             <h3 class='by-and-on'>Username on getDateHelper</h3>
         </header>
         <section class='thread-body'>This is the where the post content should render</section>
     </main>
